<section>
    <div  class=" container ordersection">
   
        <form action="/sortorders" method="post" class="text-right p-0">
            <select type="button" class="btn btn-danger mx-3" name="orderStatus">
                <option value="">Status</option>
                <option value="all">All</option>
                <option value="Processing">Orders Processing</option> 
                <option value="Shipped">Shipped orders</option>
                <option value="Canceled">Canceled Orders</option>
                <option value="placed">Placed Orders</option>
                <option value="pending">Pending Orders</option>
  
       
  
            </select>  
            <button type="submit" class="btn btn-dark mx-5">Sort Orders</button>       
        </form>
    </div>
    <div class="container mx-auto orders">
        <% order.forEach((order)=>{ %>
        <div class="col-md-9 mb-5 mt-5 p-0" id="<%= order._id %>">
           <div class="col-md-12 border p-5 shadow-sm p-3 mb-5 bg-body rounded">
               <div class="col">
                    <table class="table p-0">
                       <div id="orderid" class="d-none"><%= order._id %></div>
                               <tr>
                                <tr>
                                    <td colspan="12" class="w-25"><span class="h6">Order Id:</span> 
                                        <span class=""><%= order._id %></span>
                                    </td>
                                    
                                </tr>
                                
                                <td colspan="12"><span class="h6">Address:</span> 
                                       
                                    <span style="width: 100px; display: flex; flex-direction: column;"><%= order.order.address %></span>
                               
                                
                                  </td> 
                             
                                <tr>
                                    <td colspan="2" class="w-25"><span class="h6">Date:</span> 
                                        <span class=""> <%= order.orderDate.toLocaleString() %></span>
                                    </td> 
                               
                                   
                                </tr> 
                               
                                <tr class="p-0" style="background-color: rgb(245, 99, 99);">
                                    <td></td>
                                    <td>Brand</td>
                                    <td>Qty</td>
                                    <td>Price</td>
                                   
                                </tr>
                                <% order.products.forEach((product)=>{ %>  
                                   
                                       
                                                                   
                                    <tr>
                                        <td> <img src="/image/<%= product.product._id%>.jpeg" alt="" style="width: 50px; height: 50px;"></td>   
                                        <td><%= product.product.brand %> </td> 
                                        <td><%= product.qty %> </td>
                                        <td>$<%= product.price %>.00</td>
                                    </tr>
                                   <% }) %>
                             
                               
                                </tr>
                                   
                                      
                            
                                   
                                    <tr class="text-right">
                                        <td colspan="12"><span class="h6 mx-2">Status:</span>  <% if(order.order.status == 'placed' || order.order.status == 'Processing' || order.order.status == 'Shipped'){ %>
                                            <span class="btn btn-success"><%= order.order.status %></span>
                                            <% }else{ %>
                                                <span class="btn btn-warning"><%= order.order.status %></span>
                                                <% } %></td>
                                      </tr>
                                      <tr class="text-right">
                                        <td colspan="12"><span class="h6 mx-2">Payment Method: </span> <%= order.order.paymentmethod %></td>
                                      </tr>
                                    <tr class="text-right">
                                        <td colspan="12"><span class="h6 mx-2">Total Amount:</span>$<%= order.order.total%>.00</td>
                                      </tr>
                                      <% if(order.order.status == 'placed'|| order.order.status == 'Processing' || order.order.status == 'Shipped'){ %>
                                      <tr class="text-right">
                                        <td colspan="12"><a class="h6 mx-2 btn btn-dark text-white"  onclick="downloadInvoice()">Download Invoice</a></td>
                                      </tr>
                                      <% } %>
                                      <tr>
                                          <td colspan="12">
    
                                        <form action="/changeorderstatus/<%= order._id %>" method="post">
                                            <select type="button" class="btn btn-danger" name="orderStatus">
                                                <option value="">Change Delivery Status</option>
                                                <% if(order.order.status == 'Shipped'){ %>
                                                 
                                                  <option value="Shipped">Shipped</option>
                                                 

                                                  <% }else{ %>
                                                    <option value="Processing">Order Processing</option> 
                                                    <option value="Shipped">Shipped</option>
                                                  
                                                    <% } %>
                                               
                                  
                                            </select>  
                                            <button type="submit" class="btn btn-dark mx-5">Update Status</button>           
                                          </form>
                                        </td>
                                    </tr>

                    </table>
                </div>
            </div>
           
        </div>
        <% }) %>
        <div class="col-md-12 text-right">
            <nav aria-label="Page navigation example" class="text-center ">
              <ul class="uk-pagination" data-uk-pagination="{items:100, itemsOnPage:10}">
               
                  <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link text-dark"  href="/orderhistory/?page=1">1</a></li>
                  <li class="page-item"><a class="page-link text-dark"  href="/orderhistory/?page=2">2</a></li>
                  <li class="page-item"><a class="page-link text-dark" href="/orderhistory/?page=3">3</a></li>
                  <li class="page-item"><a class="page-link text-dark" href="/orderhistory/?page=4">4</a></li>
                  <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </section>
      
</section>
<style>
    .ordersection{
        position: relative;
        margin-top: 200px;
        left: 50%;
        transform: translateX(-50%);

    }
    .orders{
        position: relative;
        margin-top: 50px;
        left: 50%;
        transform: translateX(-50%);

    }
</style>

<script src="https://unpkg.com/jspdf-invoice-template@1.4.3/dist/index.js"></script>
<script>
 


     let orderDetails = '<%- JSON.stringify(order) %>';
     console.log(typeof(orderDetails));
     var order1 = JSON.parse(orderDetails);
     let date = '<%- JSON.stringify(date) %>';
     let Date1 = JSON.parse(date);
     let targetedOrder = {};
     let orderid = document.getElementById('orderid').innerHTML

     for(let i=0;i<order1.length;i++){
         if(order1[i]._id == orderid){
             targetedOrder = order1[i];
            }
     }
     let brand =  targetedOrder.products.map((el)=>{
              return  el.product.brand
            })
     let qty =  targetedOrder.products.map((el)=>{
              return  el.qty
            })
     let price =  targetedOrder.products.map((el)=>{
              return  el.product.price
            })
            let total = targetedOrder.order.total;
     console.log(targetedOrder);
     

      function downloadInvoice() {
         

        var pdfObject = jsPDFInvoiceTemplate.default(props);
        console.log("object created: ", pdfObject);
      }

      var props = {
    outputType: jsPDFInvoiceTemplate.OutputType.Save,
    returnJsPDFDocObject: true,
    fileName: "Invoice 2021",
    orientationLandscape: false,
    compress: true,
    // logo: {
    //     src: "https://raw.githubusercontent.com/edisonneza/jspdf-invoice-template/demo/images/logo.png",
    //     type: 'PNG', //optional, when src= data:uri (nodejs case)
    //     width: 53.33, //aspect ratio = width/height
    //     height: 26.66,
    //     margin: {
    //         top: 0, //negative or positive num, from the current position
    //         left: 0 //negative or positive num, from the current position
    //     }
    // },
    // stamp: {
    //     inAllPages: true, //by default = false, just in the last page
    //     src: "https://raw.githubusercontent.com/edisonneza/jspdf-invoice-template/demo/images/qr_code.jpg",
    //     type: 'JPG', //optional, when src= data:uri (nodejs case)
    //     width: 20, //aspect ratio = width/height
    //     height: 20,
    //     margin: {
    //         top: 0, //negative or positive num, from the current position
    //         left: 0 //negative or positive num, from the current position
    //     }
    // },
    business: {
        name: "GOGGLES",
        address: "Albania, Tirane ish-Dogana, Durres 2001",
        phone: "(+355) 069 11 11 111",
        email_1: "info@goggle.com",
        website: "www.goggles.com",
    },
    contact: {
        label: "Invoice issued for:",
        name: `${targetedOrder.order.fname}`,
        address: `${targetedOrder.order.address}`,
        phone: `${targetedOrder.order.phone}`,
       
    },
    invoice: {
        label: "Invoice #: ",
        num: 19,
        invDate:"Payment Date:"+`${Date1}`,
        
        headerBorder: false,
        tableBodyBorder: false,
        header: [
          {
            title: "#", 
            style: { 
              width: 10 
            } 
          }, 
          { 
            title: "Description",
            style: {
              width: 80
            } 
          }, 
          { title: "Price"},
          { title: "Quantity"},
         
        ],
        table: Array.from(Array(targetedOrder.length), (item, index)=>([
            index + 1,
            `${brand}`,
            "$"+`${price}`+".00",
            `${qty}`,
           
        ])),
        additionalRows:[{
            col1: 'Total:',
            col2:   "$"+`${total}`+".00",
            style: {
                fontSize: 12 //optional, default 12
            }
        },
        {
            col1: 'VAT:',
            col2: '20%',
            style: {
                fontSize: 10 //optional, default 12
            }
        },
        {
            col1: 'SubTotal:',
            col2:  "$"+`${total}`+".00",
            style: {
                fontSize: 10 //optional, default 12
            }
        }],
       
    },
    footer: {
        text: "The invoice is created on a computer and is valid without the signature and stamp.",
    },
    pageEnable: true,
    pageLabel: "Page ",
};
       
    
</script>