</section>
<div class="heading">
    <h2>Products Details</h2>
</div>

<section class="tproduct">
    <div class="productmenu">
        <div class="menu-btn">
            <div>
                <a class="edit text-white" href="/addproduct">Add product</a>
            </div>
        </div>
        
        <div class="srch">
            <input type="text" id="productsearch">
            <button type="button" class="srchbtn">search</button>

        </div>
    </div>


<!--Table-->
<table class="table table-striped td table align-middle">

<!--Table head-->
<thead>
<tr>
<th>Product Id</th>
<th>Product Name</th>
<th>Product Description</th>
<th>Brand</th>
<th>Qty</th>
<th>Price</th>
<th>Is Featured</th>
<th>
    
        <th>Shape</th>
        <th>Frame type</th>
        <th>Color</th>
        <th>Gender</th>
    

</th>
<th>Image</th>
<th></th>
<th></th>
</tr>
</thead>
<!--Table head-->

<!--Table body-->
<% products.forEach(function(product) { %>
<tbody>
<tr class="table-info ">
<td><%= product._id %></td>
<td><%= product.productname %></td>
<td><%= product.productdescription %></td>
<td><%= product.brand %></td>
<td><%= product.qty %></td>
<td><%= product.price %></td>
<td><%= product.isFeatured %></td>
<td>
    
        <td><%= product.productcategory.shape %></td>
        <td><%= product.productcategory.frametype %></td>
        <td><%= product.productcategory.color %></td>
        <td><%= product.productcategory.gender %></td>
    
    
</td>
<td><img src="/image/<%= product._id %>.jpeg" alt="" style="height: 70px;width: 70px;"></td>
<td> <a class="btn btn-dark text-white" href="/editproduct/<%= product._id%>"><i class="fa-solid fa-pen"></i></a></td>
<!-- <td> <a class="btn btn-danger text-white" href="/deleteproduct/<%= product._id%>">Delete</a></td> -->
<td><button type="button" class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#productdelete<%= product._id %>">
    <i class="fa-solid fa-trash-can"></i>
</button>


<!-- Modal -->
<div class="modal fade" id="productdelete<%= product._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete the the Product ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark text-white"
                    data-bs-dismiss="modal">CLOSE</button>
                
                    <button type="button" class="btn btn-danger text-white"><a href="/deleteproduct/<%= product._id %>" class="text-decoration-none text-white"> DELETE</a> </button>
               
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
</td>
</tr>

</tbody>
<!--Table body-->
<% } ) %>

</table>
<!--Table-->
<div class="col-md-12 d-flex align-items-center justify-content-center">
<nav aria-label="Page navigation example" class="text-center ">
    <ul class="pagination text-center">
      <li class="page-item">
        <a class="page-link text-dark" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link text-dark"  href="/productlist/?page=1">1</a></li>
      <li class="page-item"><a class="page-link text-dark"  href="/productlist/?page=2">2</a></li>
      <li class="page-item"><a class="page-link text-dark" href="/productlist/?page=3">3</a></li>
      <li class="page-item"><a class="page-link text-dark" href="/productlist/?page=4">4</a></li>
      <li class="page-item">
        <a class="page-link text-dark" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</section>