<header>
    <div class="row">
        <div class="col-md-3 top-info text-left mt-lg-4">
            <h6>Need Help</h6>
            <ul>
                <li>
                    <i class="fas fa-phone"></i> Call
                </li>
                <li class="number-phone mt-3">080034523723</li>
            </ul>
        </div>
        <div class="col-md-6 logo-w3layouts text-center">
            <h1 class="logo-w3layouts">
                <a class="navbar-brand" href="#">
                    Goggles </a>
            </h1>
        </div>


        <% if(locals.user){ %>
            <div class="col-lg-3 text-right d-flex justify-content-between align-items-center">
            <div class="dropdown mx-1">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <%= user.fname %>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-danger" href="/useraccount/<%= user._id %>">Account</a></li>
                    <li><a class="dropdown-item text-danger" href="/logout">logout</a></li>
                </ul>
            </div>
            <div class="mx-1">
                <a href="/wishlist/<%= user._id %>" class="text-danger d-md-block"> Wishlist<i class="fa-regular fa-heart mx-1"></i>
                    <% if(wishlength >= 1){ %>
                        <span class="badge bg-danger " style="position: absolute;top: 30px; border-radius: 50%;color: aliceblue; " id="wish-count"><%= wishlength %></span>
                        <% } %>
                    </a>
            </div>
            
              
                <button class="btn"><a href="/cart/<%= user._id %>" class="text-dark"><i class="fas fa-cart-arrow-down"></i>
                    <% if(cartlength >= 1){ %>
                    <span class="badge bg-danger " style="position: absolute;top: 30px;border-radius: 50%;color: aliceblue; " id="cart-count"><%= cartlength %></span>
                    <% } %>
                </a>
                              
                </button>
      
               
                           
            </div>
            <% } else { %>
                <div class="col-lg-3 text-right d-md-flex justify-content-center align-items-center">
                    <div class="dropdown mx-4 col-lg-2 ">
                        <a class=" dropdown-toggle"  data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <a class="btn-open-signup dropdown-item text-danger" href="/signup">
                                <span aria-hidden="true">Signup</span>
                            </a>
                        
                            <a class="btn-open-login dropdown-item text-danger" href="/login">
                                <span aria-hidden="true">Login</span>
                            </a>
                       
                        </ul>
                       
    
                    </div>
                    <button class="btn"><a href="/login" class="text-dark"><i class="fas fa-cart-arrow-down"></i></a>
                   
           
                </div> 
               
                <% } %>
               

                    
               
                

    <!-- <div class="search">
        <div class="mobile-nav-button">
            <button id="trigger-overlay" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div> -->
    <!-- open/close -->
    <!-- <div class="overlay overlay-door">
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <form action="#" method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Search here..." required="">
                <button type="submit" class="btn btn-primary submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div> -->
    <!-- open/close -->
    <!-- </div>  -->

    <label class="top-log mx-auto"></label>
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2 col-lg-12">

        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-mega mx-auto">
                <li class="nav-item active">
                    <a class="nav-link ml-lg-0" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/shop ">Shop</a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

        </div>
    </nav>

</header>

<script>

</script>