



<div class="card mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title text-center">
                <div class="row">
                    <div class="col "><h4><b>Shopping Cart</b></h4></div>
                    <!-- <div class="col align-self-center text-right text-muted"></div> -->
                </div>
            </div>    
            <div class="d-none" ><input type="text" id="user" value="<%= user._id %>"></div>
            <div  class="d-none"><input type="text" id="cartqty" value="<% cartqty %>"></div>
            <% if(cartlength >= 1){%>
            <% cartqty.forEach((cartitem)=>{%>
            <div class="row border-top border-bottom mx-2">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/image/<%= cartitem.product._id %>.jpeg"></div>
                    <div class="col">
                        <div class="row"><%= cartitem.product.brand %></div>
                        <!-- <div class="row"><%= cartitem.product.productdescription %></div> -->
                    </div>
                    <div class="col-md-3 display-flex justify-content-between align-items-center">
                        <button onclick="changeQty('<%= cartitem.product._id %><%= Math.floor((Math.random()) + 1) %>','<%= cartitem.product._id %>','<%= user._id %>','<%= cartitem.qty %>','<%= cartitem.product.price %>',-1)" class="btn" class = "qtychange">-</button>
                        <a href="#" id="<%= cartitem.product._id %>" class="text-danger"><%= cartitem.qty %></a>
                        <button class="btn" onclick="changeQty('<%= cartitem.product._id %><%= Math.floor((Math.random()) + 1) %>','<%= cartitem.product._id %>','<%= user._id %>','<%= cartitem.qty %>','<%= cartitem.product.price %>',1)"  class = "qtychange">+</button>
                    </div>
                    <div class="col total" id="<%= cartitem.product._id %><%= Math.floor((Math.random()) + 1) %>">€ <%= cartitem.price %> .00</div><button class="text-white  text-right btn btn-danger" type="button" data-toggle="modal" data-target="#productdelete<%= cartitem.product._id %>"><i class="fa-solid fa-trash-can"></i></button>
                
                    <div class="modal fade" id="productdelete<%= cartitem.product._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                                      aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                              </div>
                              <div class="modal-body">
                                  Do you want to remove the product ?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-dark text-white"
                                      data-dismiss="modal">CLOSE</button>
                                  
                                      <button type="button" class="btn btn-danger text-white"><a href="/deletecartproduct/<%= cartitem.product._id %>/<%= user._id %>" class="text-decoration-none text-white"> DELETE</a> </button>
                                 
                              </div>
                          </div>
                      </div>
                    </div>
                
                </div>
            </div>
            <% }) %>
            <% } else {%>
                <div class="text-center">
                    <h5>cart is empty please add products</h5>

                </div>
                <% } %>

            <div class="back-to-shop align-bottom"><a href="/shop">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div class="text-center"><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row mx-2">
                <div class="col" style="padding-left:0;">items : <%= cartlength %></div>
                <div class="col text-right" id="carttotal1">€ <%= beforecouponprice %> .00</div>
            </div>
            <form id="couponform" >
                <div id="couponError" class="text-danger mb-5"></div>
                
                <p>COUPON CODE</p>
                
                    <input id="code" placeholder="Enter your code" onkeyup="this.value = this.value.toUpperCase();">
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-danger">Apply</button>
                    </div>
                   
                
              
            </form>
            <div class="row mx-2" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">DISCOUNT</div>
                <% if(couponValue){ %>
                <div class="col text-right">€ <%= couponValue %>.00</div>
                <% }else{ %>
                    <div class="col text-right" id="discount">€ 0 .00</div>
                    <% } %>
            </div>
            <div class="row mx-2" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right" id="carttotal2">€ <%= total %> .00</div>
            </div>
            <div class="col text-right">
                <a class="text-white btn btn-danger" id="checkoutbtn" href="/placeorder/<%= user._id %>"> CHECKOUT</a>

            </div>
            
        </div>
    </div>
    
</div>

<script>

   
        const cartproducts1 = '<%- JSON.stringify(cartqty) %>';
        const cartproduct = JSON.parse(cartproducts1);
        console.log(cartproduct);
        const total1 = '<%- JSON.stringify(total) %>';
        const total = JSON.parse(total1);
        console.log(typeof(total));
        const userid = document.getElementById('user').value;
        let totalprice = cartproduct.price;
        const checkoutbtn = document.querySelector('#checkoutbtn')

        let codevalue;
        async function changeQty(priceinp,productid,userid,qty,price,count){
            console.log(userid,qty,price,count);
            if(count == 1){
                qty++;
            }else{
                qty--;
            }
            console.log(qty);

            let response = await fetch('/qtyincrement',{
                    method:'POST',
                    body:JSON.stringify({productid,userid,qty,price}),
                    headers:{'Content-Type':'application/json','Accept':'application/json'}
                   
                });
                
               let res = await response.json();
               console.log(res);

               
               document.getElementById(priceinp).textContent = res.cartitems.price;
               document.getElementById(productid).textContent = res.cartitems.qty;
               document.querySelector('#carttotal1').textContent = res.total;
               document.querySelector('#carttotal2').textContent = res.total;
              location.reload();

            }
               
               
       
             const couponform = document.querySelector('#couponform');

             couponform.addEventListener('submit',async (e)=>{
                 e.preventDefault();
                  codevalue = document.getElementById('code').value;
                 let respon = await fetch('/applycoupontocart',{
                     method:'POST',
                     body:JSON.stringify({total,codevalue,userid,totalprice}),
                     headers:{'Content-Type':'application/json','Accept':'application/json'}

                 })
                 let respo = await respon.json();
                 const couponerror = document.querySelector('#couponError');
                 if(respo.total && respo.discountvalue){
                    document.querySelector('#carttotal2').textContent = "€"+ respo.total+".00";
                    document.querySelector('#discount').textContent = "€"+ respo.discountvalue+".00";
                 }else{
                     couponerror.textContent = respo;
                 }
                 console.log(respo);
             })
        
       
    
   
</script>
