<!-- banner -->
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>Shop</li>
            </ul>
        </div>
    </div>

</div>
<!--//banner -->
<!--/shop-->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">New Arrivals for you </h3>
            <div class="row">
                <!-- product left -->
                <div class="side-bar col-lg-3">
                    <div class="search-hotel">
                        <h3 class="agileits-sear-head">Search Here..</h3>
                        <form action="#" method="post">
                            <input class="form-control" type="search" name="search" placeholder="Search here..."
                                required="">
                            <button class="btn1">
                                <i class="fas fa-search"></i>
                            </button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                    <!-- price range -->
                    <div class="range">
                        <h3 class="agileits-sear-head">Price range</h3>
                        <ul class="dropdown-menu6">
                            <li>

                                <div id="slider-range"></div>
                                <input type="text" id="amount"
                                    style="border: 0; color: #ffffff; font-weight: normal;" />
                            </li>
                        </ul>
                    </div>
                    <!-- //price range -->
                    <!--preference -->
                    <div class="left-side">
                        <h3 class="agileits-sear-head">Deal Offer On</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Backpack</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Phone Pocket</span>
                            </li>

                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="agileits-sear-head">Discount</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% or More</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev left-side">
                        <h3 class="agileits-sear-head">Customer Review</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- deals -->
                    <div class="deal-leftmk left-side">
                        <h3 class="agileits-sear-head">Special Deals</h3>
                        <div class="special-sec1">
                            <div class="img-deals">
                                <img src="images/s1.jpg" alt="">
                            </div>
                            <div class="img-deal1">
                                <h3>Farenheit (Grey)</h3>
                                <a href="single.html">$575.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="images/s2.jpg" alt="">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>Opium (Grey)</h3>
                                <a href="single.html">$325.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="images/m2.jpg" alt="">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>Azmani Round</h3>
                                <a href="single.html">$725.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="images/m4.jpg" alt="">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>Farenheit Oval</h3>
                                <a href="single.html">$325.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //deals -->
                </div>
                <!-- //product left -->
                <!--/product right-->

                <div class="left-ads-display col-lg-9">
                    <div class="wrapper_top_shop">
                        <div class="row">
                            <div class="col-md-6 shop_left">
                                <img src="images/banner3.jpg" alt="">
                                <h6>40% off</h6>
                            </div>
                            <div class="col-md-6 shop_right">
                                <img src="images/banner4.jpg" alt="">
                                <h6>50% off</h6>
                            </div>

                        </div>

                        <div class="row">
                            <!-- /womens -->
                            <% products.forEach((product)=>{ %>
                                <div class="col-md-3 product-men women_two shop-gd">

                                    <div class="product-googles-info googles mb-4">
                                        <div class="men-pro-item">
                                            <div class="men-thumb-item">
                                                <img src="./image/<%=  product._id %>.jpeg" alt="">

                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/singlepage/<%= product._id%>"
                                                            class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product">
                                                <div class="info-product-price">
                                                    <div class="grid_meta">
                                                        <div class="product_price">
                                                            <h4>
                                                                <a href="/singlepage/<%= product._id%>">
                                                                    <%= product.brand %>
                                                                </a>
                                                            </h4>
                                                            <div class="grid-price mt-2 text-danger">
                                                                $ <span class="money " id="itemprice">
                                                                    <%= product.price %>
                                                                </span> .00
                                                            </div>
                                                            <a href="#" id="wishlist"><i
                                                                    class="fa-regular fa-heart text-danger"></i></a>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <div>
                                                            <!-- Button HTML (to Trigger Modal) -->
                                                            <a href="#myModal1" class="btn mt-5" data-toggle="modal"
                                                                id="addtocart"><i
                                                                    class="fas fa-cart-arrow-down"></i></a>
                                                        </div>
                                                        <div id="myModal1" class="modal fade">
                                                            <div class="modal-dialog modal-confirm">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <div class="icon-box">
                                                                            <i class="material-icons">&#xE876;</i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p class="text-center responsetext"></p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-success btn-block"
                                                                            data-dismiss="modal">OK</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="d-none"><input type="text" id="user"
                                                                value="<%= user._id %>"></div>
                                                        <div class="d-none"><input type="text" id="product"
                                                                value="<%= product._id %>"></div>

                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <% }) %>

                                    <!--//product right-->
                        </div>
                        <!--/slide-->
                        <div class="slider-img mid-sec mt-lg-5 mt-2">
                            <!--//banner-sec-->
                            <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Featured Products</h3>
                            <div class="mid-slider">
                                <div class="owl-carousel owl-theme row">
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s5.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">Fastrack Aviator </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$325.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="Fastrack Aviator">
                                                                        <input type="hidden" name="amount"
                                                                            value="325.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>

                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s6.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">MARTIN Aviator </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$425.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="MARTIN Aviator">
                                                                        <input type="hidden" name="amount"
                                                                            value="425.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s7.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">Royal Son Aviator </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$425.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="Royal Son Aviator">
                                                                        <input type="hidden" name="amount"
                                                                            value="425.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s8.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">Irayz Butterfly </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$281.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="Irayz Butterfly">
                                                                        <input type="hidden" name="amount"
                                                                            value="281.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s9.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">Jerry Rectangular </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$525.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="Jerry Rectangular ">
                                                                        <input type="hidden" name="amount"
                                                                            value="525.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="gd-box-info text-center">
                                            <div class="product-men women_two bot-gd">
                                                <div class="product-googles-info slide-img googles">
                                                    <div class="men-pro-item">
                                                        <div class="men-thumb-item">
                                                            <img src="images/s10.jpg" class="img-fluid" alt="">
                                                            <div class="men-cart-pro">
                                                                <div class="inner-men-cart-pro">
                                                                    <a href="single.html"
                                                                        class="link-product-add-cart">Quick View</a>
                                                                </div>
                                                            </div>
                                                            <span class="product-new-top">New</span>
                                                        </div>
                                                        <div class="item-info-product">

                                                            <div class="info-product-price">
                                                                <div class="grid_meta">
                                                                    <div class="product_price">
                                                                        <h4>
                                                                            <a href="single.html">Herdy Wayfarer </a>
                                                                        </h4>
                                                                        <div class="grid-price mt-2">
                                                                            <span class="money ">$325.00</span>
                                                                        </div>
                                                                    </div>
                                                                    <ul class="stars">
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-half-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="googles single-item hvr-outline-out">
                                                                    <form action="#" method="post">
                                                                        <input type="hidden" name="cmd" value="_cart">
                                                                        <input type="hidden" name="add" value="1">
                                                                        <input type="hidden" name="googles_item"
                                                                            value="Herdy Wayfarer">
                                                                        <input type="hidden" name="amount"
                                                                            value="325.00">
                                                                        <button type="submit"
                                                                            class="googles-cart pgoogles-cart">
                                                                            <i class="fas fa-cart-plus"></i>
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//slider-->
                    </div>
                </div>

                <!-- <style>
                #wishlist{

                }
            </style> -->

                <script>
                    let addtocartbtn = document.querySelector('#addtocart');
                    let userid = document.querySelector('#user').value;
                    let productid = document.querySelector('#product').value;
                    let price = document.querySelector('#itemprice').textContent;
                    let wishlist = document.querySelector('#wishlist')
                    console.log(price);
                    addtocartbtn.addEventListener('click', async (e) => {
                        e.preventDefault();
                        qtyinp = 1;
                        console.log(qtyinp);

                        let response = await fetch('/cart', {
                            method: 'POST',
                            body: JSON.stringify({ productid, userid, qtyinp, price }),
                            headers: { 'Content-Type': 'application/json' }
                        })
                        let check = await response.json();
                        if (check) {
                            let responseText = document.querySelector('.responsetext');
                            responseText.textContent = "item added to the cart";
                        }
                        setTimeout(() => {
                            location.reload();
                        }, 3000);



                    })

                    wishlist.addEventListener('click',(e)=>{
                        e.preventDefault();
                        wishlist.append = <i class="fa-solid fa-heart"></i>;
                        
                    })


                </script>