<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="/shop">Shop</a>
                    <i>|</i>
                </li>
                <li>Single view</li>
            </ul>
        </div>
    </div>

</div>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3 col-lg-12">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                <div class="col-lg-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1 img-bx">
                           
                                    <div class="thumb-image border"> <img class="img-fluid " id="myimage" src="../image/<%= productdetails._id %>.jpeg"
                                            data-imagezoom="true"  alt=" "> </div>
                              
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                    <h3>
                        <%= productdetails.productname%>
                    </h3>

                    <p>
                        <%= productdetails.productdescription%>
                    </p>
                    <h5>
                        <%= productdetails.brand%>
                    </h5>
                    <p ><span class="item_price" id="itemprice"><%= productdetails.price%>.00</span>
                    </p>
                    <div class="rating1">
                        <ul class="stars">
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                    <div class="color-quality">
                        <div class="color-quality-right">
                            <h5>Quantity</h5>
                            <button class="cart-item-count btn btn-primary " id="minusbtn" onclick="minus()">-</button>
                            <input id="qtyinp" class="mx-2 text-center" value="1">
                            <button class="cart-item-count btn btn-primary" id="plusbtn" onclick="plus()">+</button>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="mt-5">
                        <div>
                            <div>
                                <!-- Button HTML (to Trigger Modal) -->
                                <a href="#myModal1" class="btn btn-danger" data-toggle="modal" id="addtocart">add to cart</a>
                            </div>
                            <div id="myModal1" class="modal fade">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="icon-box">
                                                <i class="material-icons">&#xE876;</i>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center responsetext"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if(locals.user){ %>
            
                                <div class="d-none" ><input type="text" id="user" value="<%= user._id %>"></div>
                                <% } %>
                                <div class="d-none" ><input type="text" id="product" value="<%= productdetails._id %>"></div>
                            
                            </div>
                    </div>
                    <ul class="footer-social text-left mt-lg-4 mt-3">
                        <li>Share On : </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-google-plus-g"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fas fa-rss"></span>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
    <div class="container text-center mx-auto col-lg-12">
        <!--/slide-->
        <div class="slider-img mt-lg-5 mt-2 px-lg-2 px-3">
            <!--//banner-sec-->
            <h3 class="tittle-w3layouts text-left my-lg-4 my-3 text-center">Featured Products</h3>
            <div class="mid-slider col-lg-12">
                <div class="owl-carousel owl-theme row col-lg-12">
                    <% Allproducts.forEach((product)=>{ %>
                    <div class="item border mx-0 my-3 col-lg-3">
                        <div class="gd-box-info text-center">
                            <div class="product-men women_two bot-gd">
                                <div class="product-googles-info slide-img googles">
                                    <div class="men-pro-item">
                                        <div class="men-thumb-item">
                                            <img src="../image/<%= product._id%>.jpeg" class="border" alt="">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="/singlepage/<%= product._id %>" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            <span class="product-new-top color-danger">New</span>
                                        </div>
                                        <div class="item-info-product">

                                            <div class="info-product-price">
                                                <div class="grid_meta">
                                                    <div class="product_price">
                                                        <h4>
                                                            <a href="/singlepage/<%= product._id %>"><%= product.brand%> </a>
                                                        </h4>
                                                        <div class="grid-price mt-2">
                                                            <span class="money ">$<%= product.price%></span>
                                                        </div>
                                                    </div>
                                                    <ul class="stars">
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="googles single-item hvr-outline-out">
                                                    <form action="/cart/:<%= product._id %>" method="post">
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="googles_item"
                                                            value="Royal Son Aviator">
                                                        <input type="hidden" name="amount" value="425.00">
                                                        <button type="submit" class="googles-cart pgoogles-cart">
                                                            <i class="fas fa-cart-plus"></i>
                                                        </button>


                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <!--//slider-->
    </div>
   
</section>

<!--footer -->
<style>
  
    #qtyinp {
        width: 50px;

    }
 .img-magnifier-glass {
  
  position: absolute;
  left: 0px;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 350px;
  height: 250px;
 
  
 

  
}

</style>

<script>



    var count = 1;
    var countEl = document.getElementById("qtyinp");
    function plus() {
        count++;
        countEl.value = count;
    }
    function minus() {
        if (count > 1) {
            count--;
            countEl.value = count;
        }
    }


let addtocartbtn = document.querySelector('#addtocart');
let userid = document.querySelector('#user').value;
let productid = document.querySelector('#product').value;
let qtyinp =document.querySelector('#qtyinp');
let price =document.querySelector('#itemprice').textContent;
console.log(price);
addtocartbtn.addEventListener('click',async (e)=>{
    e.preventDefault();
    qtyinp = qtyinp.value;
    console.log(qtyinp);

   let response = await fetch('/cart',{
        method:'POST',
        body:JSON.stringify({productid,userid,qtyinp,price}),
        headers: { 'Content-Type': 'application/json' }
    })
let check = await response.json();
if(check){
    let responseText = document.querySelector('.responsetext');
     responseText.textContent ="item added to the cart";
}
setTimeout(()=>{
    location.reload();
},3000);
    


})

let imgbox = document.querySelector('.img-bx');

    
  function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);

  /* Create magnifier glass: */
  
    glass = document.createElement("DIV");
    glass.setAttribute("class", "img-magnifier-glass");
 
  

  /* Insert magnifier glass: */
  
  img.parentElement.insertBefore(glass,img);
  /* Set background properties for the magnifier glass: */
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize =
    img.width * zoom + "px " + img.height * zoom + "px";
  bw = 2;
  w = glass.offsetWidth / 3;
  h = glass.offsetHeight / 3;

  /* Execute a function when someone moves the magnifier glass over the image: */
  glass.addEventListener("mousemov", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);

  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /* Prevent the magnifier glass from being positioned outside the image: */
    if (x > img.width - w / zoom) {
      x = img.width - w / zoom;
    }
    if (x < w / zoom) {
      x = w / zoom;
    }
    if (y > img.height - h / zoom) {
      y = img.height - h / zoom;
    }
    if (y < h / zoom) {
      y = h / zoom;
    }
    /* Set the position of the magnifier glass: */
    glass.style.right = x + w + "px";
    glass.style.top = y + h + "px";
    /* Display what the magnifier glass "sees": */
    glass.style.backgroundPosition =
      "-" + (x * zoom - w + bw) + "px -" + (y * zoom - h + bw) + "px";


  }

  function getCursorPos(e) {
    var a,
      x = 0,
      y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return { x: x, y: y };
  }
}
/* Execute the magnify function: */
magnify("myimage", 2);
/* Specify the id of the image, and the strength of the magnifier glass: */



</script>