<div class="container mt-5 mb-5 p-5" style="background-color: rgb(60, 61, 57);">
    <div class="row gutters-sm">
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              </div>
            </div>
          </div>
          <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item mb-1 b-1" style="border-radius:5px ;">
                  <a class="text-dark" href="/passwordreset" class="link-danger"> Change Password</a> 
                </li>
                <li class="list-group-item mb-1" style="border-radius:5px ;">
                   <a class="text-dark" href="/orderhistory">Order History</a> 
                </li>
                <li class="list-group-item mb-1" style="border-radius:5px ;">
                   <a class="text-dark" href="/userprofileedit/<%= user._id %>"> Edit profile</a>
                </li>
                <li class="list-group-item mb-1" style="border-radius:5px ;">
                   <a class="text-dark" href="/cart/<%= user._id %>">My Cart</a> 
                </li>
                <li class="list-group-item mb-1" style="border-radius:5px ;">
                   <a class="text-dark" href="/wishlist">Wishlist</a> 
                </li>
                <li class="list-group-item mb-1" style="border-radius:5px ;">
                    <a class="text-dark" href="/logout">Logout</a> 
                </li>
              </ul>

          </div>
       </div>
   <% if(user){ %>
<div class="col-md-9">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Full Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= user.fname %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= user.email %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= user.phone %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-9 text-secondary">

            <% if(user.address){ %>
              <% user.address.forEach((address)=>{ %>
                 
              <p class="mt-0 mb-0"><%= address.housename %></p>
              <p  class="mt-0 mb-0"><%= address.street %></p>
              <p class="mt-0 mb-0"><%= address.city %></p>
              <p class="mt-0 mb-0"><%= address.state %></p>
              <p class="mt-0 mb-0"><%= address.pincode %></p>
              
              <% if(addressLength >= 1 ){ %>
              <div class="text-right">
                <button class=" text-right btn btn-danger"><a href="/addressedit/<%= user._id %>/<%= address.unique %>" class="text-white text-right"><i class="fa-solid fa-pen"></i></a></button>
                <button class="text-white  text-right btn btn-danger" type="button" data-toggle="modal" data-target="#addressdelete<%= address.unique %>"><i class="fa-solid fa-trash-can"></i></button>
                
                <div class="modal fade" id="addressdelete<%= address.unique %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                              <button type="button" class="btn btn-danger" data-dismiss="modal"
                                  aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                          </div>
                          <div class="modal-body">
                              Do you want to delete the the Address ?
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-dark text-white"
                                  data-dismiss="modal">CLOSE</button>
                              
                                  <button type="button" class="btn btn-danger text-white"><a href="/addressdelete/<%= user._id %>/<%= address.unique %>" class="text-decoration-none text-white"> DELETE</a> </button>
                             
                          </div>
                      </div>
                  </div>
                </div>
                
              </div>
              <% } %>
             
              <hr>
              <% }) %>
              
             
              <%} else { %>
                <p>please add your address</p>
                <% } %>
               
          </div>
          
         
        </div>
        <div class="text-right">
          <button class="btn btn-danger"><a href="/addaddress" class="text-white">Add address</a></button>
        </div>
        
      </div>
    </div>
    
</div>
<% } %>
</div>
</div>

